@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CSE Muscle Cars</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="bi bi-person-plus-nav-menu" aria-hidden="true"></span> Register
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                <span class="bi bi-cart-nav-menu" aria-hidden="true"></span> Order Cars
            </NavLink>
        </div>
    </nav>
</div> *@
  <nav class="nav container">
    <div class="nav__data">
      <a href="" class="nav__logo">
        <img src="images/logo.png" width="128" height="63" alt="cse muscle cars home">
      </a>

      <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-line nav__burger"></i>
        <i class="ri-close-line nav__close"></i>
      </div>
    </div>

    <!-- NAV MENU -->
    <nav class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li><a href="/" class="nav__link">Home</a></li>
        <li><a href="#" class="nav__link">About</a></li>
        <li><a href="/order" class="nav__link">Vehicles</a></li>
        <li><a href="#services" class="nav__link">Services</a></li>
        <li><a href="#contact" class="nav__link">Contact</a></li>
        <li><a href="/login" class="nav__link">Login</a></li>
      </ul>
    </nav>
  </nav>
