
  <nav class="nav container">
    <div class="nav__data">
      <a href="" class="nav__logo">
        <img src="images/logo.png" width="128" height="63" alt="cse muscle cars home">
      </a>

      <div class="nav__toggle" id="nav-toggle">
        <i class="ri-menu-line nav__burger"></i>
        <i class="ri-close-line nav__close"></i>
      </div>
    </div>

    <!-- NAV MENU -->
    <nav class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li><a href="/" class="nav__link">Home</a></li>
        <li><a href="/about" class="nav__link">About</a></li>
        <li><a href="/order" class="nav__link">Vehicles</a></li>
        <li><a href="#services" class="nav__link">Services</a></li>
        <li><a href="contact" class="nav__link">Contact</a></li>
        <li><a href="/login" class="nav__link">Login</a></li>
      </ul>
    </nav>
  </nav>
