@using System;
@using System.Globalization;

@page "/singlevehicle"
<PageTitle>CSE Muscle Cars - Car Sales & Repair Service</PageTitle>

<main>
    <article>
      <!-- 
        - #VEHICLE SECTION
      -->
      <section class="section vehicle-page" aria-labelledby="vehicle-label">
        <div class="container">

          <p class="section-subtitle :light" id="vehiclepage-label">Camaro Redline Edition LT1</p>
          <h2 class="h2 section-title">Chevrolet</h2>
          <div class="grid grid--2-cols">
          <div class="info-img-box">
            <figure class="card-banner img-holder" style="--width: 650; --height: 433;">
                <img src="images/vehicles/2024-camaro-9v2.jpg" width="650" height="433" loading="lazy" alt="Camaro Redline Edition"
                  class="img-cover">
              </figure>
          </div>
            <div class="info-text-box">
              <p class="info-car-text"><span class="vehicle-label">Price:</span> $60,000</p>

              <p class="info-car-text"<span class="vehicle-label">Year:</span> 2024</p>

              <p class="info-car-text"<span class="vehicle-label">Mileage:</span> 44,300</p>

              <p class="info-car-text"><span class="vehicle-label">Color:</span> White</p>

              <p class="info-car-text"><span class="vehicle-label">Description:</span> If you want an authentic modern-day muscle car, the Camaro hits many of the right notes and it's a more compelling overall package than a Mustang</p>

              <a href="/checkout" class="btn buy-car-btn">
                <span class="span">Order it now</span>

                <span class="material-symbols-rounded">arrow_forward</span>
              </a>
            </div>
          </div>
                     
        </div>
      </section>

    </article>
  </main>
